@model TimeSheet.Entity.Models.Project

<form enctype="multipart/form-data">
    <h2>Delete Project</h2>

    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }

</form>